---
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import Certificates from "@/components/Certificados.astro";
import Stack from "@/components/Stack.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
---

<Layout
  title="Felipe Bursa's Portfolio FullStack Developer and Programmer with 4 years of experience"
  description="Hire Felipe Bursa to create your web or mobile application. Web Developer. Specialized in creating unique applications."
>
  <SectionContainer class="py-8 md:py-18">
    <Hero />
  </SectionContainer>

  <SectionContainer id="Experience" class="mt-16">
    <h2
      class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
    >
      <Briefcase class="size-7" />
      Work experience
    </h2>
    <Projects />
  </SectionContainer>

  <SectionContainer id="projects" class="mt-16">
    <h2
      class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
    >
      <CodeIcon class="size-7" />
      Academic or personal projects
    </h2>
    <Experience />
  </SectionContainer>

  <SectionContainer
    id="Certificates-Technologies"
    class="mt-16 flex flex-wrap md:flex-nowrap gap-8"
  >
    <div class="w-full md:w-1/2">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-7" />
        Technologies
      </h2>
      <Stack />
    </div>

    <div class="w-full md:w-1/2">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-7" />
        Certificates
      </h2>
      <Certificates />
    </div>
  </SectionContainer>

  <SectionContainer id="about-me" class="mt-16">
    <h2
      class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
    >
      <ProfileCheck class="size-8" />
      About me
    </h2>
    <AboutMe />
  </SectionContainer>
</Layout>
