---
 const personalImageAlt = "Felipe Bursa Granade";

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Mi nombre es Felipe Bursa Granade y actualmente estudio Ingeniería en Sistemas de Información en la Universidad Tecnológica de Córdoba (UTN).
    </p>

    <p>
      Además, completé un curso de Dactilografía en el Colegio Gabriel Taborin de Córdoba en 2016.
    </p>

    <p>
      En cuanto a mi educación complementaria, he realizado cursos de <strong class="text-yellow-500 dark:text-yellow-100">Micro Strategy en 2021</strong> y <strong class="text-yellow-500 dark:text-yellow-100">Power Bi en 2022</strong>, ambos en CIDS.
    </p>

    <p>
      Poseo un nivel avanzado de inglés, certificado por <strong class="text-yellow-500 dark:text-yellow-100">FCE Cambridge B2</strong>, <strong class="text-yellow-500 dark:text-yellow-100">Trinity Level 6</strong> y <strong class="text-yellow-500 dark:text-yellow-100">PET Cambridge</strong>.
    </p>
    
    <p>
      En mi experiencia laboral, me desempeño como Database Administrator y PL/SQL Developer en CIDS desde 2020 hasta la actualidad. En CIDS trabajé en 4 proyectos diferentes, incluyendo <strong class="text-yellow-500 dark:text-yellow-100">Caja de jubilaciones de Córdoba</strong>, <strong class="text-yellow-500 dark:text-yellow-100">Sistema de Gestión Electoral (SGE)</strong>, <strong class="text-yellow-500 dark:text-yellow-100">Formulario único de postulantes (FUP)</strong> y <strong class="text-yellow-500 dark:text-yellow-100">Municipalidad de Córdoba - Tribunal de cuentas (MySQL)</strong>. Actualmente, estoy involucrado en 3 de ellos.
    </p>

    <p>
      Entre mis responsabilidades se encuentran la programación de Stored Procedures y Functions, la creación de esquemas y paquetes, la gestión de diferentes entornos, la migración de bases de datos, la creación de vistas de bases de datos, el uso de la metodología Scrum, la creación y mantenimiento de documentación, entre otras.
    </p>

    <p>
      También poseo conocimientos básicos e intermedios en lenguajes orientados a objetos como C#, Java y Python, así como habilidades en Excel, Linux, ShellScript, GIT, SVN, y diversas soft skills como comunicación, empatía, paciencia, pensamiento crítico y trabajo en equipo.
    </p>

    <p>
      Mi intención es continuar aprendiendo diferentes lenguajes de programación de forma autónoma, además de lo que aprendí en la educación superior y en el trabajo.
    </p>
  </div>
</article>




