<style>
  @media (max-width: 768px) {
    .image {
      width: 50%;
      height: auto;
    }
  }
  </style>
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div>
    <div class="flex flex-row items-center justify-center">
      <img src="/tesis.jpg" alt="${personalImageAlt2}" class="w-80 h-80 object-cover rounded-full border-4 border-gray-200 dark:border-gray-700 image" title="Felipe Bursa Granade presentando su tesis de grado" />
      <img src="/me1.JPG" alt="${personalImageAlt}" class="w-80 h-80 object-cover rounded-full border-4 border-gray-200 dark:border-gray-700 mr-4 image" title="Felipe Bursa Granade en un evento de programación" />
    </div>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      I'm known for being a dedicated and friendly person. Throughout my career, I've cultivated a reputation for being hardworking, approachable, and constantly striving for improvement. With a wealth of soft skills acquired through experience, I bring a strong focus on personal growth and a commitment to delivering my best in every project and team collaboration.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Currently in my fifth year and (last year) at UTN de Cordoba, I balance my academic pursuits with a passion for music and sports. Having played rugby, a team sport that taught me invaluable lessons in camaraderie and teamwork, I bring that same spirit of collaboration to my professional endeavors.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Beyond the realm of software development, you'll find me immersed in creating music or cheering playing sports. Whether it's coding or competing on the field, I approach each endeavor with the same dedication and enthusiasm.
    </p>
      <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Additionally, I've been actively involved in volunteering experiences, such as working with Techo, where I contributed to building homes for families in need. These experiences have not only allowed me to give back to my community but have also taught me the importance of empathy and solidarity.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Thank you for taking the time to visit my Portfolio. I'm excited about the potential to connect with like-minded individuals who share my passion for technology, teamwork, and continual growth.
    </p>
  </div>
</article>
