---
import SocialPill from "./SocialPill.astro";

const personalImageAlt = "Felipe Bursa Granade";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div>
    <h2 class="text-3xl font-semibold text-gray-800 dark:text-white mt-12">
      Sobre mí
    </h2>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      ¡Hola! Soy Felipe Bursa Granade, un apasionado desarrollador de software
      con una sólida formación y una amplia experiencia en el mundo de la
      programación. Desde que era joven, siempre he estado fascinado por la
      tecnología y su capacidad para transformar el mundo que nos rodea.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Mi viaje en el desarrollo de software comenzó hace más de una década,
      cuando me sumergí en el mundo de la programación por primera vez. Desde
      entonces, he tenido el privilegio de trabajar en una variedad de proyectos
      emocionantes que me han permitido expandir mis habilidades y conocimientos
      en diversas áreas, desde el desarrollo web hasta la inteligencia
      artificial.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Me considero un solucionador de problemas creativo y un aprendiz
      incansable. Disfruto enfrentando desafíos difíciles y buscando soluciones
      innovadoras que impulsen el éxito del proyecto. Además, me apasiona
      compartir mi conocimiento con otros y colaborar en equipo para alcanzar
      objetivos comunes.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Mi experiencia incluye el dominio de múltiples lenguajes de programación,
      frameworks y tecnologías relevantes en la industria. Desde JavaScript y
      Python hasta React.js y TensorFlow, estoy constantemente actualizando mis
      habilidades para mantenerme al día con las últimas tendencias y mejores
      prácticas.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Fuera del mundo del desarrollo, me encanta explorar nuevas tecnologías,
      leer libros sobre ciencia y tecnología, y participar en comunidades de
      desarrollo para seguir aprendiendo y creciendo como profesional.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Estoy emocionado por la oportunidad de contribuir con mi experiencia y
      pasión al próximo desafío de desarrollo de software. Siempre estoy abierto
      a nuevas oportunidades de colaboración y estoy ansioso por conectar con
      personas que compartan mi pasión por la tecnología y la innovación.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      ¡Gracias por visitar mi perfil!
    </p>
  </div>
</article>
