---
const personalImageAlt = "Felipe Bursa Granade";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div>
    <h2 class="text-3xl font-semibold text-gray-800 dark:text-white mt-12">
      About Me
    </h2>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Hi there! I'm Felipe Bursa Granade, known for being a dedicated and
      friendly software developer. Throughout my career, I've cultivated a
      reputation for being hardworking, approachable, and constantly striving
      for improvement. With a wealth of soft skills acquired through experience,
      I bring a strong focus on personal growth and a commitment to delivering
      my best in every project and team collaboration.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Currently in my fifth year at UTN de Cordoba, I balance my academic
      pursuits with a passion for music and sports. Having played rugby, a team
      sport that taught me invaluable lessons in camaraderie and teamwork, I
      bring that same spirit of collaboration to my professional endeavors.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Beyond the realm of software development, you'll find me immersed in
      melodies or cheering on my favorite teams. Whether it's coding or
      competing on the field, I approach each endeavor with the same dedication
      and enthusiasm.
    </p>
    <p class="text-lg text-gray-700 dark:text-gray-300 mt-4">
      Thank you for taking the time to visit my Porfolio. I'm excited about the
      potential to connect with like-minded individuals who share my passion for
      technology, teamwork, and continual growth.
    </p>
  </div>
</article>
