---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
{
  date: "2020 – 2023",
  title: "Database Administrator, PL/SQL Developer",
  company: "CIDS",
  description:
    "In CIDS, I have worked on 4 different projects as a Database Administrator and PL/SQL Developer:\n\n1. Caja de jubilaciones de Córdoba\n2. Sistema de Gestión Electoral (SGE)\n3. Formulario único de postulantes (FUP)\n4. Municipalidad de Córdoba - Tribunal de Cuentas (MySQL)\n\nCurrently, I am actively involved in 3 of them:\n\n1. Caja de jubilaciones de Córdoba\n2. Formulario único de postulantes (FUP)\n3. Municipalidad de Córdoba - Tribunal de Cuentas (MySQL)",
    icons: ["/plsql.png","/mysql.png"],

  },

{
  date: "2023 - 2024",
  title: "Flutter Mobile Developer",
  company: "Join Me",
  description:
    "In Join Me, I worked as a Flutter Mobile Developer on a social networking project.",
    icons: ["/flutter.png","firebase.png"],

},
{
  date: "2023 – Present",
  title: "FullStack Developer",
  company: "Bircle.ia",
  description:
    "As a Web Developer at Bircle.ia, I am involved in various projects utilizing technologies like Next.js, React, FastAPI, artificial intelligence (Llama index),DynamoDb , Chroma Db, integration with WhatsApp Api, and more. ",
    icons: ["/react.png", "/nextjs.png", "/fastapi.png", "/llamaindex.png", "/dynamodb.png", "/chromadb.png"],

  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
