---
const personalImageAlt = "Felipe Bursa";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="flex gap-2 w-full">
  <img
    class="rounded-full shadow-lg size-48 animate-moveUpDown gap x-8"
    src="/me.jpeg"
    alt={personalImageAlt}
  />
  <div class="flex-grow">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Hi, I'm Felipe Bursa <span class="wave-hand">👋</span>
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      +4 years of experience in a wide variety of projects and roles. <strong>
        Advanced Systems Engineering student at UTN FRC
      </strong> from Cordoba, Argentina 🇦🇷.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:felipebursa@gmail.com">
        <MailIcon class="size-4" />
        Contact me
      </SocialPill>
      <SocialPill href="https://linkedin.com/in/felipe-bursa">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>
  <div class="w-1/3">
    <img class="w-full h-auto" src="/public/Asunto.png" alt="Asunto" />
  </div>
</div>
