---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import FastApi from "./icons/Fast.astro";
import Flutter from "./icons/Flutter.astro";
import Firebase from "./icons/Firebase.astro";
import MongoDb from "./icons/MongoDb.astro";
import Flask from "./icons/Flask.astro";
import MySQL from "./icons/MySQL.astro";
import CSharp from "./icons/Csharp.astro";
import react from "./icons/react.astro";
import aws from "./icons/aws.astro";
import dynamo from "./icons/dynamo.astro";
import chroma from "./icons/chroma.astro";
import notion from "./icons/notion.astro";
import google from "./icons/google.astro";
import tfs from "./icons/tfs.astro";
import Llamaindex from "./icons/llamaindex.astro";
import openai from "./icons/openai.astro";

const TAGS = {
    CSHARP: {
        name: "C#",
        class: "bg-black text-white",
        icon: CSharp,
    },
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        icon: NextJS,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },
    FLUTTER: {
        name: "Flutter",
        class: "bg-[#003159] text-white",
        icon: Flutter,
    },
    FIREBASE: {
        name: "Firebase",
        class: "bg-[#003159] text-white",
        icon: Firebase,
    },
    FASTAPI: {
        name: "FastApi",
        class: "bg-[#003159] text-white",
        icon: FastApi,
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-[#003159] text-white",
        icon: MongoDb,
    },
    FLASK: {
        name: "Flask",
        class: "bg-[#003159] text-white",
        icon: Flask,
    },
    GITHUB: {
        name: "GitHub",
        class: "bg-[#003159] text-white",
        icon: GitHub,
    },
    LLAMAINDEX: {
        name: "LLama Index",
        class: "bg-[#003159] text-white",
        icon: Llamaindex,
    },
    OPENAI: {
        name: "Open Ai",
        class: "bg-[#003159] text-white",
        icon: openai,
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-[#003159] text-white",
        icon: MySQL,
    },
    NOTION: {
        name: "Notion",
        class: "bg-[#003159] text-white",
        icon: notion,
    },
    TFS: {
        name: "TFS",
        class: "bg-[#003159] text-white",
        icon: tfs,
    },
    G_SUITE: {
        name: "Google Suite",
        class: "bg-[#003159] text-white",
        icon: google,
    },
    AWS: {
        name: "AWS",
        class: "bg-[#003159] text-white",
        icon: aws,
    },
    CHROMADB: {
        name: "ChromaDB",
        class: "bg-[#003159] text-white",
        icon: chroma,
    },
    DYNAMODB: {
        name: "DynamoDB",
        class: "bg-[#003159] text-white",
        icon: dynamo,
    },
    PLSQL: {
        name: "PL/SQL",
        class: "bg-[#003159] text-white",
        icon: MySQL,
    },
    REACT: {
        name: "React",
        class: "bg-[#003159] text-white",
        icon: react,
    },
};
const STACK = [
    {
        title: "FrontEnd 💻",
        tags: [TAGS.FLUTTER, TAGS.NEXT, TAGS.TAILWIND, TAGS.CSHARP , TAGS.REACT],
    },
    {
        title: "BackEnd ⚙️",
        tags: [
            TAGS.FASTAPI,
            TAGS.PLSQL,
            TAGS.MYSQL,
            TAGS.AWS,
            TAGS.CSHARP,
            TAGS.FLASK,
            TAGS.FIREBASE,
            TAGS.MONGODB,
            TAGS.DYNAMODB,
            TAGS.CHROMADB,
        ],
    },
    {
        title: "Artificial Intelligence 🤖",
        tags: [TAGS.LLAMAINDEX, TAGS.OPENAI],
    },
    {
        title: "Productivity 📊",
        tags: [TAGS.GITHUB, TAGS.NOTION, TAGS.TFS, TAGS.G_SUITE],
    },
];

const TAG_COLORS = [
    "bg-blue-500",
    "bg-green-500",
    "bg-yellow-500",
    "bg-indigo-500",
    "bg-purple-500",
    "bg-pink-500",
    "bg-red-500",
    "bg-gray-500",
];
---

<div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 gap-6">
    {
        STACK.map(({ title, tags }) => (
            <article class="flex flex-col space-x-0 space-y-8 group">
                <div class="w-full">
                    <div class="border border-transparent hover:border-gray-300 rounded-lg bg-white dark:bg-gray-800 p-6 transition duration-300 ease-in-out">
                        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                            {title}
                        </h3>

                        <div class="flex flex-wrap mt-2">
                            <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
                                {tags.map((tag, index) => (
                                    <li>
                                        <span
                                            class={`flex gap-x-2 rounded-full text-xs ${
                                                TAG_COLORS[
                                                    index % TAG_COLORS.length
                                                ]
                                            } text-white py-1 px-2`}
                                        >
                                            <tag.icon class="size-4" />
                                            {tag.name}
                                        </span>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        ))
    }
</div>
